{%extends "base.html" %}

{%block content%}
<div id="content">
    <h1>Movie Match</h1>
    <div id="about" class="heading">
        <h2>About</h2>
        <div class="info">
            The site is designed to find people with similar preferences in movies, using this site you will quickly and
            easily determine with a high probability the movie that you will like. Our algorithm is optimized to find
            people with similar interests, rather than generating genre/movie viewing stories.
        </div>
    </div>
    <div id="oppor" class="heading">
        <h2>Opportunities</h2>
        <div class="info">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut, quis, et quia, vero totam modi labore nam
            repellendus mollitia voluptates hic maiores animi laborum dolores ipsum consectetur perferendis saepe illum.
        </div>
    </div>
    <div id="team" class="heading">
        <h2>Our team</h2>
        <div id="team-info" class="info">
            <a href="https://nuraliyev.com/author">
                Shadiyar Tazhgurazov
            </a>
            <ul>
                <li>CEO</li>
            </ul>
        </div>
        <br>
        <div id="team-info" class="info">
            <a href="https://github.com/snazh">
                Sanzhar Konysbayev
            </a>
            <ul>
                <li>Chief developer</li>
            </ul>
        </div>
        <br>

        <br>
        <div id="team-info" class="info">
            <a href="https://github.com/jxterrr">
                Adilet Satayev
            </a>
            <ul>
                <li>Designer</li>
            </ul>
        </div>
    </div>
    <div id="contacts" class="heading">
        <h2>Contacts</h2>
        <div class="info">
            <h3>Sanzhar Konysbayev</h3>
            <ul>
                <li>Phone number: +77750542376</li>
                <li>Email: sanxius.kon@gmail.com</li>
            </ul>
        </div>
    </div>
    <br>
</div>
{%endblock%}