.friends-count {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
}
.profile-container {
    background-color: #1e1e1e;
    border-radius: 20px;
    padding: 80px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    width: 800px;
    text-align: center;
}
.section {
    margin-bottom: 20px;
    flex: 1;
    height: 400px;
    overflow-y: auto;
}
.avatar {

    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 35px;
}
.username {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #fff; /* Changed text color to white */
}
.email {
    font-size: 1em;
    color: #ccc; /* Changed text color to light gray */
    margin-bottom: 20px;
}
.movies-list {
    list-style-type: none;
    padding: 0;
}
.movies-list li {
    background-color: #444; /* Adjusted list item background color */
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}
.add-movie {
    background-color: #6200ea;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s; /* Added transition for smoother hover effect */
}
.add-movie:hover {
    background-color: #4b0082; /* Darker color on hover */
}